<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    @{
        Html.RenderAction("CheckCookieAuth", "Main");
        Html.RenderAction("CreateSession", "Main");
    }
    <div class="background">
        <div id="loading_back" class="">

            @{
// Html.RenderAction("Head","Main");
            }


            <header class="header-fixed">
                <div class="header-limiter">
                    <h1><a href="@Url.Action("Index", "Main")">Who<span>make</span></a></h1>
                    <nav>

                        @{
                            ViewBag.Page = ViewContext.RouteData.GetRequiredString("action");
                            //Request.Url.ToString().Substring(6);

                            // ViewBag.Page = ViewBag.Page.Substring(ViewBag.Page.IndexOf("/"),

                            //ViewContext.RouteData.Values["action"];


                        }

                        <a href="@Url.Action("Index", "Main")" @if (ViewBag.Page == "Index") { Write("class=selected"); } }>Главная</a>
                        <a href="@Url.Action("Performers", "Main")" @if (ViewBag.Page == "Performers") { Write("class=selected"); } }>Исполнители</a>
                        <a href="@Url.Action("Tasks", "Main")" @if (ViewBag.Page == "Tasks") { Write("class=selected"); } }>Все задания</a>
                        <a href="@Url.Action("CreateTask", "Main")" @if (ViewBag.Page == "CreateTask") { Write("class=selected"); } }>Создать задание</a>
                        <a href="@Url.Action("About", "Main")" @if (ViewBag.Page == "About") { Write("class=selected"); } }>FAQ</a>
                        <a href="@Url.Action("Contact", "Main")" @if (ViewBag.Page == "Contact") { Write("class=selected"); } }>Контакты</a>
                    </nav>
                    <ul id="block_login">
                        @{
                            if (Session["UserName"] == null)
                            {
                                <li><a href="@Url.Action("Login", "Main")" @if (ViewBag.Page == "Login") { Write("class=selected"); } }>Вход</a></li>
                                <li><a href="@Url.Action("Registration", "Main")" @if (ViewBag.Page == "Registration") { Write("class=selected"); } }>Регистрация</a></li>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-8" style="margin-top: 10px;">
                                        @Session["users_name"] @Session["users_secname"]
                                    </div>
                                    <div class="col-md-offset-1 col-md-3">
                                        <div class="header-user-menu">


                                            <img src="~/Content/Images/avatar.png" alt="User Image" />
                                            <ul>
                                                <li><a href="#">Профиль</a></li>
                                                <li><a href="#">Оплата</a></li>
                                                <li>@Ajax.ActionLink("Выход", "Logout", new AjaxOptions { OnSuccess = "Log_out", UpdateTargetId = "block_login" })</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>}
                        }


                    </ul>
                </div>
            </header>
            <!-- You need this element to prevent the content of the page from jumping up -->
            <div class="header-fixed-placeholder"></div>
            <!-- The content of your page would go here. -->

            <script>
    function Log_out(){
        $(location).attr('href', "@Url.Action("Index", "Main")");
    }

	$(document).ready(function(){

        var showHeaderAt = 170;

		var win = $(window),
				body = $('body');

		// Show the fixed header only on larger screen devices

		if(win.width() > 600){

			// When we scroll more than 150px down, we set the
			// "fixed" class on the body element.

			win.on('scroll', function(e){

				if(win.scrollTop() > showHeaderAt) {
					body.addClass('fixed');
				}
				else {
					body.removeClass('fixed');
				}
			});

		}
                ExistScroll();

    });

    function ExistScroll() {

        var height_document = $(document).height();
        var height_client = document.body.clientHeight;

        if (document.body.scrollWidth > document.body.offsetWidth)  {
            $(".header-fixed").css("padding-left", "55px");

        }
    }


            </script>


            <br />
            <div class="container body-content">
                @RenderBody()
            </div>

            @{
                Html.RenderPartial("Footer");
            }
        </div>
 </div>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/messages_ru.js"></script>
    <script src="~/Scripts/ValidationFormScript.js"></script>
</body>
</html>
