@{
    string category_id = ViewBag.category ?? "";
    string service_id = ViewBag.service ?? "";
    string name = ViewBag.name ?? "";
}
<div class="row" style="padding: 10px 0;">
<!--using (Ajax.BeginForm("AjaxTasks", null,
   new AjaxOptions
    {
        OnBegin = "OnBegin",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        OnSuccess = "OnSuccess",
        UpdateTargetId = "body_tasks"

    },
     new { class = "form-reg form-horizontal", id = "SearchForm" }))
{-->
     <form action="Tasks" method="get" class="form-reg form-horizontal">
    <div class="col-md-3">@{Html.RenderAction("CategoriesList", new { id = category_id});}</div>
    <div class="col-md-3" id="ListServices">
        @{Html.RenderAction("ServicesList", new {id = category_id, id_serv = service_id });}
    </div>
    <div class="col-md-4"><input placeholder="Поиск по заданиям " type="text" style="max-width: 100%;" name="name" class="form-control" id="input_name"/></div>
    <div class="col-md-2"><button style="padding: 6px; padding-left: 0; padding-right: 0; width: 80%; float:right;" id="Submit" class="flat-butt flat-info-butt btn-block" type="submit">Найти</button></div>
       
    </form>
    <script>
        function sleep(ms) {
            ms += new Date().getTime();
            while (new Date() < ms) { }
        }
      

            $("#categoryId").val("@category_id");
            $("#serviceId").val("@service_id");
            $("#input_name").val("@name");
    </script>

</div>


<div class="form-reg form-horizontal hei" id="body_tasks">

    <!--{Html.RenderAction("AjaxTasks");}-->
    <!--НАЧАЛО КОДА-->
    @model PagedList.IPagedList<DataBase.tasks>
    @using PagedList.Mvc;
    <style>
        .one-task:hover {
            background-color: white;
            border-radius: 10px;
            cursor: pointer;
            border: 1px solid;
        }
    </style>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <script>
        $('#categoryId').change(function () {
            service();
        });


        var service = function ()
        {
            var NumberCategory = $('#categoryId').val();
            $.ajax({
                type: "POST",
                url: "ServicesList",
                data: "id=" + NumberCategory,
                dataType: "html",
                cache: false,
                success: function (data) {
                    if (data == "") data = '<select name="service_id" id="serviceId" title="Выберите вид услуги" class="form- control" required tabindex="2">\
                                                    < option value= "" >Выберите услугу</option>\
                                                    </select>';
                    $("#ListServices").html(data);
                      
                }
            });
        }
     </script>
    <hr align="left" width="100%" size="1" color="#292C2F" />
    @{
        foreach (var task in Model)
        {<a href="@Url.Action("Task", "Main", new { id = task.tasks_id, backUrl = HttpContext.Current.Request.Url })" data-content="@task.tasks_id" style="color:black;">
        <div style="margin-top: -17px;margin-bottom: -17px;" class="one-task">
            <div class="row" style="padding:0 20px; font-size:23px">
                <div class="in col-md-9">@task.tasks_name</div>
                <div class="in col-md-2 col-md-offset-1"><span style="float:right">@task.tasks_price <i class="fa fa-rub" aria-hidden="true"></i></span></div>
            </div>

            <div class="row" style="font-size:17px">
                <div class="col-md-offset-1 col-md-10" style="height: 80px; margin-top: 10px;">
                    @{if (task.tasks_description.Length > 150)
                    { @Html.Raw(task.tasks_description.Substring(0, 150) + "...");
                    }
                    else
                    {@Html.Raw(task.tasks_description);
                    }}
            </div>
        </div>

        <div class="row" style="font-size:23px; padding: 0 20px; ">
            <div class="in col-md-2">@task.tasks_creation.ToShortDateString()</div>
            <div class="in col-md-8">@task.tasks_category - @task.tasks_service</div>
            <div class="in col-md-2"><span style="float:right"><i class="fa fa-eye fa-3" aria-hidden="true"></i> @task.tasks_views</span></div>
        </div>
    </div>
</a>
    <hr align="left" width="100%" size="1" color="#292C2F" />
                    }
    }

    @Html.PagedListPager(Model, page => Url.Action("Tasks", new { category_id, service_id, name, page }))
    <!--КОНЕЦ КОДА-->
</div>

<div id="resultReg" class="row">
    <div class="row">
        <div id="center_div" class="center-div" style="display: none">
            <div class="cssload-thecube" id="loading">
                <div class="cssload-cube cssload-c1"></div>
                <div class="cssload-cube cssload-c2"></div>
                <div class="cssload-cube cssload-c4"></div>
                <div class="cssload-cube cssload-c3"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function OnSuccess() {

        $("#center_div").toggle();
        $("#resultReg").removeClass("loading-div");
        $("#resultRegMes").addClass("resultReg");
        if ($("#resultRegMes").has("p").text().indexOf("существует") == -1) {
            setTimeout(function () {
               

            }, 5000);
        }
        else {
            $("#resultRegMes").addClass("resultReg");
            $("#resultRegMes").animate({
                opacity: 0
            }, 7000, function () {

                $("#resultRegMes").empty();
                $("#resultRegMes").removeClass("resultReg");
                $("#resultRegMes").css("opacity", 1);
            });
        }

    }
    function OnBegin() {

        $("#resultReg").addClass("loading-div");
        $("#center_div").toggle();
       /* $("#resultReg").html('<div class="cssload-thecube" id="loading" style="position: absolute; z-index: 10;">\
            <div class="cssload-cube cssload-c1"></div>\
            <div class="cssload-cube cssload-c2"></div>\
            <div class="cssload-cube cssload-c4"></div>\
            <div class="cssload-cube cssload-c3"></div>\
        </div>');*/



    }
</script>